# Exclude specific file types
*.h5
*.rds
*.csv
*.RData
*RDataTmp*
*.RProj
*.gz
*.tar
*.png
*.pdf
*.zip
*.pickle



# You can also exclude directories
data/
data_old/
data_test/
logs/
scPrisma/
.Rproj.user/

# Or specific files
config.json
secrets.txt