# Exclude specific file types
*.h5
*.rds
*.csv
*.RData
*RDataTmp*
*.gz
*.tar
*.png
*.pdf
*.zip
*.pickle



# You can also exclude directories
data/
.Rproj.user/

# Or specific files
config.json
secrets.txt

# OS / IDE session artifacts
.DS_Store
.Rhistory